

<header class="header">
    <a href="/"><h1>Dance Inventory</h1></a>
    <h2 hx-get="/new"
    hx-swap="innerHTML"
    hx-target=".wrapper"
      hx-push-url="true" >Add new moves!</h2>
</header>