

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
  background-color: black;
}
.header{
  font-family: "Alegreya", serif;
  color:white;
}
.wrapper{
  max-height:100vh;
  max-width:100vw;
}

.index__container{
  display:flex;
}

.button__container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-inline:0.25rem;
  width:20%;
  gap:1rem;
  height:100vh;
  text-align: center;
  color:white;
  border-right:3px solid white;

  & h3{
    margin-block-end: 1rem;
    font-family: "Alegreya", serif;
  }
}

.ballo__buttons{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  text-transform: capitalize;
  gap:1rem;
}

.ballo__buttons a{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}
.ballo__buttons button{
  width:100%;
  max-width: 150px;
  max-height:100px;
 border-radius: 10px;
 padding-block:0.4rem;
 padding-inline:0.4rem;
 border:2px solid white;
 font-weight: bold;
   text-transform: uppercase;
   font-family: "Signika Negative", sans-serif;
  
}

.buttons__swing button{
  background: rgb(182,63,251);
  background: radial-gradient(circle, rgba(182,63,251,1) 0%, rgba(84,63,251,1) 90%);
  color:white;
}
.buttons__latino button{
  background: rgb(255,199,0);
  background: radial-gradient(circle, rgba(255,199,0,1) 0%, rgba(255,93,0,1) 90%);
}
.buttons__liscio button{
  background: rgb(0,255,140);
background: radial-gradient(circle, rgba(0,255,140,1) 0%, rgba(122,200,30,1) 90%);
}

.content__container{
  width:80%;
  height:100vh;
  padding:1rem;
  color:white;
  & h1{
    text-align: center;
    text-transform: capitalize;
    margin-block-end:1rem;
    font-family: "Signika Negative", sans-serif;

  }
  & h3, h4{
    text-align: center;
    font-size: 1.75rem;
    margin-block:1rem;
    font-family: "Signika Negative", sans-serif;
  }
  & h4{
    font-size: 1.4rem;
    font-family: "Signika Negative", sans-serif;
  }

  & p{
    font-family: "Alegreya", serif;
  }
  
}

.liscio{
  background: rgb(182,63,251);
background: radial-gradient(circle, rgba(182,63,251,1) 0%, rgba(0,0,0,1) 70%);
}

.latino{
  background: rgb(255,119,0);
  background: radial-gradient(circle, rgba(255,119,0,1) 0%, rgba(0,0,0,1) 70%);
}

.swing{
  background: rgb(0,255,140);
  background: radial-gradient(circle, rgba(0,255,140,1) 0%, rgba(0,0,0,1) 70%);
}

.content__container > div{
  display: flex;
  padding:1em;
  
}
.content__container > div > div{
  max-width: 50%;
  
}

.content__container img{
max-width:50%;
 max-height:90vh;
 aspect-ratio: 1;
 object-fit: contain;
}


a{
    text-decoration: none;
    color:black;
}
.header{
    display:flex;
    justify-content: space-between;
    padding-inline:2em;
    align-items: center;
    padding-block:1em ;
    border-bottom: 2px solid white;
}

.cards__container{
    display:flex;
}
.container{
    width:33%;
}
.cards{
    display:grid;
    
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.cards img{
    aspect-ratio: 1;
    object-fit: contain;
    max-width: 100%;
    
}

.card{
    width:250px;
    border:1px solid black;
}

.card h3{
    text-align: center;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: "Ultra", serif;
}
.livello__container{
    width:1000px;
    margin:auto;
    margin-block:1em;
    padding:1em;
    border: 1px solid white;
    border-radius:10px;
    color:white;
}
.passo__container{
  min-width: 100%;
    min-height:100px;
    display:flex;
    justify-content: center;
    
}


.hidden{
  display: none;
}
.passo{
    padding-inline:0.5em;
    display:flex;
    align-items: center;
    justify-content: space-between;
width:50%;
border: 1px solid white;
font-size: 1.25rem;
font-family: "Signika Negative", sans-serif;
}

.passo__form{
  font-family: "Signika Negative", sans-serif;
  width:50%;
  border:1px solid white;
}

.variazioni, .var__form{
  font-family: "Signika Negative", sans-serif;
  font-size: 1.1125rem;
    width:50%;
    border: 1px solid white;
}

.variazioni ol{
    display: flex;
    flex-direction: column;
    max-height: 75px;
    
    flex-wrap: wrap;
}
.sconosciuto{
    background-color: rgba(255, 0, 0, 0.7);
}
.imparato{
    background-color: rgba(255, 174, 0, 0.7);
}
.perfetto{
    background-color: rgba(0, 255, 55, 0.7);
}

.prog-form{
  display:flex;
  font-size: 0.9rem;
}

.progresso{
    display:flex;
    flex-direction: column;
}

.progresso__container{
    
    display:flex;
    /* min-height:100px; */
    max-width: 250px;
    align-items: start;
    justify-content: space-between;
    gap:10px;
}

.progresso__container > div{
    width:32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progresso__container img{
    max-width: 32px;
    aspect-ratio: 1;
    border: 1px solid white;
}

