<div class="content__container <%= ballo[0].stile %>">
    <h1><%= ballo[0].ballo %></h1>
    <div>
      <div>
        <h3>Perchè questo ballo è figo</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
          repellendus iure aut id perspiciatis incidunt iusto nemo placeat molestiae
          a sunt dolor vitae deleniti, quos corrupti laborum impedit quis alias
          ducimus ad. Animi ex officia ipsam soluta, cumque aperiam voluptate
          blanditiis nesciunt iure eveniet magni nemo illo dolores eos debitis
          repellendus, dolor commodi ipsa vitae doloremque vel id aliquam. Dolorem
          maiores iure quas, dolores suscipit nulla accusantium praesentium, sunt
          nobis maxime consequuntur. Ad id accusamus voluptatibus facere tempore
          vero suscipit ullam error omnis nemo, magni, est aut? Quas optio
          consequatur dolor beatae iste architecto voluptatibus quasi veniam ea
          aliquam. Reprehenderit.
        </p>
        <h4>Non sei ancora convinto?</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
          dolorem suscipit tempore, perspiciatis doloribus velit rerum aliquam,
          accusamus unde consequuntur ipsum eius dolore. Quas eos, libero
          consectetur molestiae eius ducimus fugiat culpa praesentium inventore,
          neque consequatur cumque saepe reiciendis! Recusandae quas similique nobis
          est ducimus explicabo fuga laudantium laborum possimus!
        </p>
      </div>
      <img src="<%= ballo[0].img %>" alt="" />
    </div>
</div>
